appdirs==1.4.3
arrow==0.10.0
click==6.7
cycler==0.10.0
deepdiff==3.2.0
Flask==0.12.1
functools32==3.2.3.post2
itsdangerous==0.24
Jinja2==2.9.6
jsonpickle==0.9.4
MarkupSafe==1.0
matplotlib==2.0.0
numpy==1.12.1
packaging==16.8
pandas==0.19.2
pdb==0.1
pika==0.10.0
pymongo==3.4.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-gnupg==0.4.0
pytz==2017.2
PyYAML==3.12
redis==2.10.5
requests==2.13.0
rq==0.7.1
rq-dashboard==0.3.7
scikit-learn==0.18.1
simplejson==3.10.0
six==1.10.0
sklearn==0.0
subprocess32==3.2.7
Werkzeug==0.12.1
